<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{HH:mm:ss} %level]: %msg%n</pattern>
		</encoder>
	</appender>
		<appender name="startupDailyRolloverAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/latest.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/%d{yyyyMMdd}_%d{HHmmss}.gz</fileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy class="io.github.tasracy.words1152.logger.StartupTimeBasedTriggeringPolicy" />
		</rollingPolicy>
		<encoder>
			<pattern>[%d{HH:mm:ss} %level]: %msg%n</pattern>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="startupDailyRolloverAppender" />
	</root>
</configuration>